### Primeiros passos: importação de dados e primeiras checagens da base de dados.
Primeiro passo é importar os dados para um DataFrame. \
Imporatação de biblioteca pandas;\
Criação de uma variável que contenha o caminho do arquivo onde está armazenado a base de dados.

In [113]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2
from pymongo import MongoClient


caminho = 'BaseDados.csv'

### Importação dos dados e transição para DataFrame

Criação da variável onde iremos armazenar o arquivo DataFrame; \
Primeira visualização do DataFrame.

In [7]:
df = pd.read_csv(caminho)
df

,id_venda,data_venda,cliente,produto,quantidade,preco_unitario
0,1,12/03/2024,Laura Turner,Teclado,5,4231.92
1,2,25/01/2025,Regina Johnson,Teclado,4,583.05
2,3,08/07/2024,Brent Garcia,Monitor,2,1495.76
3,4,27/07/2024,Jordan Jackson,Monitor,4,4316.78
4,5,19/06/2024,Joshua Carter,Impressora,2,645.81
...,...,...,...,...,...,...
95,96,01/01/2025,Amy Schroeder,Mouse,5,3088.51
96,97,29/04/2024,Natalie Fuller,Teclado,2,4253.08
97,98,27/02/2024,Brittany Bennett,Notebook,1,1592.82
98,99,09/03/2024,Kenneth Baker,Teclado,3,1362.92
99,100,23/07/2024,Daniel Browning,Monitor,3,2381.73

### Checagens básicas do DataFrame

Antes do início do tratamento de dados, será feito algumas checagens gerais do DataFrame para identificar algumas características da base. 

- df.shape -> Visualização do total de linhas e colunas da base; 
- df.info() -> Visualização das colunas e dos seus respectivos tipos de dados, além da visualização de valores nulos (se tiver); 
- df.describe() -> essa função traz alguns dados estatísticos genéricos da base (dados numéricos a princípio); 
-

In [9]:
df.shape

(100, 6)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id_venda        100 non-null    int64
 1   data_venda      100 non-null    object
 2   cliente         100 non-null    object
 3   produto         100 non-null    object
 4   quantidade      100 non-null    int64
 5   preco_unitario  100 non-null    float64
dtypes: float64(1), int64(2), object(3)
memory usage: 4.8+ KB

In [11]:
df.describe().round(2)

       id_venda  quantidade  preco_unitario
count    100.00      100.00          100.00
mean      50.50        2.96         2400.79
std       29.01        1.37         1392.48
min        1.00        1.00          114.79
25%       25.75        2.00         1234.78
50%       50.50        3.00         2498.60
75%       75.25        4.00         3499.94
max      100.00        5.00         4914.43

In [14]:
# Tratando a coluna de DATA.

df['data_venda'] = pd.to_datetime(df['data_venda'], format='%d/%m/%Y')
df['data_venda'] = df['data_venda'].dt.strftime('%Y/%m/%d')

In [17]:
# Criação da coluna 'total_venda'

df['total_venda'] = df['quantidade'] * df['preco_unitario']

In [18]:
# Criação da coluna fictícia 'email'

df['email'] = df['cliente'].str.lower().str.replace(' ', '.') + '@email.com'

# OBS: Eu acabei criando essa coluna porque nos desafios seguintes ela é consultada, porém é totalmente possível continuar o desafio sem ela.

In [19]:
df

,id_venda,data_venda,cliente,produto,quantidade,preco_unitario,total_venda,email
0,1,2024/03/12,Laura Turner,Teclado,5,4231.92,21159.60,laura.turner@email.com
1,2,2025/01/25,Regina Johnson,Teclado,4,583.05,2332.20,regina.johnson@email.com
2,3,2024/07/08,Brent Garcia,Monitor,2,1495.76,2991.52,brent.garcia@email.com
3,4,2024/07/27,Jordan Jackson,Monitor,4,4316.78,17267.12,jordan.jackson@email.com
4,5,2024/06/19,Joshua Carter,Impressora,2,645.81,1291.62,joshua.carter@email.com
...,...,...,...,...,...,...,...,...
95,96,2025/01/01,Amy Schroeder,Mouse,5,3088.51,15442.55,amy.schroeder@email.com
96,97,2024/04/29,Natalie Fuller,Teclado,2,4253.08,8506.16,natalie.fuller@email.com
97,98,2024/02/27,Brittany Bennett,Notebook,1,1592.82,1592.82,brittany.bennett@email.com
98,99,2024/03/09,Kenneth Baker,Teclado,3,1362.92,4088.76,kenneth.baker@email.com
99,100,2024/07/23,Daniel Browning,Monitor,3,2381.73,7145.19,daniel.browning@email.com

In [21]:
# Conecte-se ao PostgreSQL

# Salvando a url do Postgre em uma variável (simplificar o código)
url_banco = 'postgresql://postgres:953751mmk@localhost:5432/Projeto'

# Criando o objeto de conexão com o BD
engine = create_engine(url_banco)

# Enviando o DataFrame para o PostgreSQL
df.to_sql('Projeto_1', engine, index=False, if_exists='replace')

print("Concluido")

Dataset salvo com sucesso no PostgreSQL!

In [111]:
# Estabelecendo conexão com o BD usando psycopg2

# Variável conector salvando a função connet com os parâmetros necessários para criação da conexão.
conector = psycopg2.connect(
    dbname="Projeto",
    user="postgres",
    password="953751mmk",
    host="localhost")

# Interface de interação com o BD
cursor = conector.cursor()

In [109]:
# Outra opção de conexão

# Configurações da conexão (ajuste conforme seu ambiente)
parametros = {
    'dbname': 'Projeto',       # Nome do banco de dados
    'user': 'postgres',        # Nome de usuário do PostgreSQL
    'password': '953751mmk',   # Senha do PostgreSQL
    'host': 'localhost',       # Endereço do servidor (localhost, caso esteja localmente)
    'port': '5432'             # Porta do PostgreSQL (padrão é 5432)
}

try:
    conector = psycopg2.connect(**parametros)
    cursor = conector.cursor()
    print("Conexão bem-sucedida ao PostgreSQL!")
except Exception as e:
    print(f"Erro ao conectar ao PostgreSQL: {e}")

Conexão bem-sucedida ao PostgreSQL!

In [73]:
# Com base na base tratada, criei outras 2 bases que irão conter os dados das 2 tabelas mencionadas no teste: tb_clientes e tb_pedidos

# tabela clientes
df_clientes = df[['cliente', 'email']]

# tabela pedidos
df_pedidos = df[['id_venda', 'email','data_venda','total_venda']]

In [67]:
# OBS: para os próximos passos, eu criei as 2 tabelas diretamente no postgre utilizando o código do enunciado.
# Os passos a seguir serão apenas inserções de dados nas respectivas tabelas

In [24]:
# Inserindo os dados na tabela do DataFrame:

# Um loop for para executar o código de inserção de dados na tabela;
# o "_" é apenas para informar que o índice da linha não será usado;
# "row" serve para acessar os dados da linha atual nas colunas 'nome' e 'email' do DB Postgre;
# cursor.execute vai executar comandos de SQL (de inserção de dados no caso);
# comando básico de SQL para inserir dados com os Placeholdes para proteger na inserção dos dados
# ON CONFLICT (email) DO NOTHING RETURNING id -> evita a inserção de dados duplicados;

for _, row in df_clientes.iterrows():
    cursor.execute(
        """
        INSERT INTO clientes (nome, email)
        VALUES (%s, %s)
        ON CONFLICT (email) DO NOTHING RETURNING id;
        """,
        (row['nome'], row['email'])
    )

# Confirmar a transação no bando de dados
conector.commit()

In [81]:
# Convertendo o tipo de dado do dataframe para DATA
df_pedidos['data_venda'] = pd.to_datetime(df_pedidos['data_venda'], errors='coerce')

# Inserindo os dados do dataframe no Postgre:
# O iterrows vai iterar nas linhas do df;
# O código busca um id na tabela clentes com base no email, caso encontrar ele retorna o id respectivo, se não retorna none;
# O bloco do if serve para realizar uma checagem se o pedido existe;
# Tive que adicionar esse trecho porque toda vez que rodava esse código ele adicionava mais e mais informações no postgre

for _, row in df_pedidos.iterrows():
    cursor.execute(
        "SELECT id FROM clientes WHERE email = %s;", 
        (row['email'],))
    cliente_id = cursor.fetchone()  
    
    if cliente_id:
        cursor.execute(
            """
            SELECT 1 FROM pedidos 
            WHERE cliente_id = %s AND data_pedido = %s;
            """,
            (cliente_id[0], row['data_venda'])
        )
        pedido_existente = cursor.fetchone()

        if not pedido_existente:
            cursor.execute(
                """
                INSERT INTO pedidos (cliente_id, data_pedido, total)
                VALUES (%s, %s, %s);
                """,
                (cliente_id[0], row['data_venda'], row['total_venda'])
            )

conector.commit()

C:\Users\Kimura\AppData\Local\Temp\ipykernel_1284\3075338320.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pedidos['data_venda'] = pd.to_datetime(df_pedidos['data_venda'], errors='coerce')

## Importação para o MongoDB

In [85]:
# Basicamente eu criei uma variável que contenha todas as informações do Dataframe no formato do MongoDB

resultado = []
for _, row in df.iterrows():
    venda = {
        "_id": str(row['id_venda']),
        "cliente": {
            "id": row['id_venda'], 
            "nome": row['cliente']
        },
        "data_pedido": row['data_venda'],
        "itens": [
            {
                "produto": row['produto'],
                "quantidade": row['quantidade'],
                "preco": row['preco_unitario']
            }
        ]
    }
    resultado.append(venda)

# Exibindo o resultado final
print(resultado)

[{'_id': '1', 'cliente': {'id': 1, 'nome': 'Laura Turner'}, 'data_pedido': '2024/03/12', 'itens': [{'produto': 'Teclado', 'quantidade': 5, 'preco': 4231.92}]}, {'_id': '2', 'cliente': {'id': 2, 'nome': 'Regina Johnson'}, 'data_pedido': '2025/01/25', 'itens': [{'produto': 'Teclado', 'quantidade': 4, 'preco': 583.05}]}, {'_id': '3', 'cliente': {'id': 3, 'nome': 'Brent Garcia'}, 'data_pedido': '2024/07/08', 'itens': [{'produto': 'Monitor', 'quantidade': 2, 'preco': 1495.76}]}, {'_id': '4', 'cliente': {'id': 4, 'nome': 'Jordan Jackson'}, 'data_pedido': '2024/07/27', 'itens': [{'produto': 'Monitor', 'quantidade': 4, 'preco': 4316.78}]}, {'_id': '5', 'cliente': {'id': 5, 'nome': 'Joshua Carter'}, 'data_pedido': '2024/06/19', 'itens': [{'produto': 'Impressora', 'quantidade': 2, 'preco': 645.81}]}, {'_id': '6', 'cliente': {'id': 6, 'nome': 'Dominique Larson'}, 'data_pedido': '2024/08/09', 'itens': [{'produto': 'Teclado', 'quantidade': 5, 'preco': 2797.0}]}, {'_id': '7', 'cliente': {'id': 7, 'nome': 'Jason Young'}, 'data_pedido': '2024/05/16', 'itens': [{'produto': 'Impressora', 'quantidade': 5, 'preco': 798.48}]}, {'_id': '8', 'cliente': {'id': 8, 'nome': 'Sarah Bullock'}, 'data_pedido': '2024/07/03', 'itens': [{'produto': 'Notebook', 'quantidade': 2, 'preco': 3619.65}]}, {'_id': '9', 'cliente': {'id': 9, 'nome': 'Robert Faulkner'}, 'data_pedido': '2024/06/15', 'itens': [{'produto': 'Mouse', 'quantidade': 2, 'preco': 2577.93}]}, {'_id': '10', 'cliente': {'id': 10, 'nome': 'David Schmidt'}, 'data_pedido': '2024/03/03', 'itens': [{'produto': 'Monitor', 'quantidade': 4, 'preco': 2720.22}]}, {'_id': '11', 'cliente': {'id': 11, 'nome': 'Denise Hunter'}, 'data_pedido': '2024/04/04', 'itens': [{'produto': 'Notebook', 'quantidade': 1, 'preco': 3225.13}]}, {'_id': '12', 'cliente': {'id': 12, 'nome': 'Madison Guerra'}, 'data_pedido': '2024/12/19', 'itens': [{'produto': 'Teclado', 'quantidade': 3, 'preco': 4573.84}]}, {'_id': '13', 'cliente': {'id': 13, 'nome': 'Catherine Alvarez'}, 'data_pedido': '2024/04/12', 'itens': [{'produto': 'Monitor', 'quantidade': 1, 'preco': 2473.16}]}, {'_id': '14', 'cliente': {'id': 14, 'nome': 'John Gallegos'}, 'data_pedido': '2024/06/13', 'itens': [{'produto': 'Impressora', 'quantidade': 4, 'preco': 1448.69}]}, {'_id': '15', 'cliente': {'id': 15, 'nome': 'Brandon Clayton'}, 'data_pedido': '2024/02/25', 'itens': [{'produto': 'Mouse', 'quantidade': 2, 'preco': 4414.86}]}, {'_id': '16', 'cliente': {'id': 16, 'nome': 'Carolyn Perry'}, 'data_pedido': '2024/08/18', 'itens': [{'produto': 'Teclado', 'quantidade': 5, 'preco': 3508.35}]}, {'_id': '17', 'cliente': {'id': 17, 'nome': 'Connie Cobb'}, 'data_pedido': '2025/02/13', 'itens': [{'produto': 'Teclado', 'quantidade': 4, 'preco': 2694.95}]}, {'_id': '18', 'cliente': {'id': 18, 'nome': 'Ronald Kim'}, 'data_pedido': '2024/08/23', 'itens': [{'produto': 'Impressora', 'quantidade': 1, 'preco': 3758.95}]}, {'_id': '19', 'cliente': {'id': 19, 'nome': 'Shane Simpson'}, 'data_pedido': '2024/11/25', 'itens': [{'produto': 'Monitor', 'quantidade': 2, 'preco': 3928.21}]}, {'_id': '20', 'cliente': {'id': 20, 'nome': 'Eric Haynes'}, 'data_pedido': '2024/06/04', 'itens': [{'produto': 'Notebook', 'quantidade': 4, 'preco': 1990.92}]}, {'_id': '21', 'cliente': {'id': 21, 'nome': 'Kristi Hughes'}, 'data_pedido': '2024/10/15', 'itens': [{'produto': 'Notebook', 'quantidade': 2, 'preco': 1175.66}]}, {'_id': '22', 'cliente': {'id': 22, 'nome': 'Debra Mcdaniel'}, 'data_pedido': '2024/07/22', 'itens': [{'produto': 'Mouse', 'quantidade': 4, 'preco': 4914.43}]}, {'_id': '23', 'cliente': {'id': 23, 'nome': 'Joshua Bowers'}, 'data_pedido': '2025/01/29', 'itens': [{'produto': 'Monitor', 'quantidade': 1, 'preco': 439.54}]}, {'_id': '24', 'cliente': {'id': 24, 'nome': 'Diana Roberson'}, 'data_pedido': '2024/07/14', 'itens': [{'produto': 'Mouse', 'quantidade': 5, 'preco': 4186.39}]}, {'_id': '25', 'cliente': {'id': 25, 'nome': 'Bryan Allen'}, 'data_pedido': '2024/04/29', 'itens': [{'produto': 'Notebook', 'quantidade': 2, 'preco': 3141.85}]}, {'_id': '26', 'cliente': {'id': 26, 'nome': 'Christine Wong'}, 'data_pedido': '2024/11/25', 'itens': [{'produto': 'Impressora', 'quantidade': 3, 'preco': 218.01}]}, {'_id': '27', 'cliente': {'id': 27, 'nome': 'Daniel Hess'}, 'data_pedido': '2025/02/12', 'itens': [{'produto': 'Teclado', 'quantidade': 2, 'preco': 1144.17}]}, {'_id': '28', 'cliente': {'id': 28, 'nome': 'Daniel Davis'}, 'data_pedido': '2024/04/25', 'itens': [{'produto': 'Teclado', 'quantidade': 2, 'preco': 380.58}]}, {'_id': '29', 'cliente': {'id': 29, 'nome': 'Deborah Duncan'}, 'data_pedido': '2024/08/11', 'itens': [{'produto': 'Monitor', 'quantidade': 2, 'preco': 4085.69}]}, {'_id': '30', 'cliente': {'id': 30, 'nome': 'Diane Evans'}, 'data_pedido': '2024/10/18', 'itens': [{'produto': 'Mouse', 'quantidade': 5, 'preco': 1164.88}]}, {'_id': '31', 'cliente': {'id': 31, 'nome': 'Amanda West'}, 'data_pedido': '2024/05/05', 'itens': [{'produto': 'Teclado', 'quantidade': 1, 'preco': 1254.49}]}, {'_id': '32', 'cliente': {'id': 32, 'nome': 'Kevin Hammond'}, 'data_pedido': '2024/08/26', 'itens': [{'produto': 'Teclado', 'quantidade': 2, 'preco': 2259.54}]}, {'_id': '33', 'cliente': {'id': 33, 'nome': 'Steven Frazier'}, 'data_pedido': '2024/07/06', 'itens': [{'produto': 'Teclado', 'quantidade': 5, 'preco': 3042.84}]}, {'_id': '34', 'cliente': {'id': 34, 'nome': 'Pamela Lopez'}, 'data_pedido': '2024/12/20', 'itens': [{'produto': 'Monitor', 'quantidade': 2, 'preco': 1758.18}]}, {'_id': '35', 'cliente': {'id': 35, 'nome': 'James Frye'}, 'data_pedido': '2024/08/06', 'itens': [{'produto': 'Teclado', 'quantidade': 5, 'preco': 4824.16}]}, {'_id': '36', 'cliente': {'id': 36, 'nome': 'Zachary Schaefer'}, 'data_pedido': '2024/05/09', 'itens': [{'produto': 'Teclado', 'quantidade': 1, 'preco': 2486.17}]}, {'_id': '37', 'cliente': {'id': 37, 'nome': 'Amber Rice DDS'}, 'data_pedido': '2025/01/29', 'itens': [{'produto': 'Notebook', 'quantidade': 5, 'preco': 4203.61}]}, {'_id': '38', 'cliente': {'id': 38, 'nome': 'Mary Wade'}, 'data_pedido': '2024/08/19', 'itens': [{'produto': 'Impressora', 'quantidade': 2, 'preco': 929.6}]}, {'_id': '39', 'cliente': {'id': 39, 'nome': 'Taylor Smith'}, 'data_pedido': '2024/06/25', 'itens': [{'produto': 'Notebook', 'quantidade': 3, 'preco': 1697.29}]}, {'_id': '40', 'cliente': {'id': 40, 'nome': 'Gary Vega'}, 'data_pedido': '2024/05/10', 'itens': [{'produto': 'Teclado', 'quantidade': 3, 'preco': 3096.69}]}, {'_id': '41', 'cliente': {'id': 41, 'nome': 'William Davis'}, 'data_pedido': '2024/05/07', 'itens': [{'produto': 'Monitor', 'quantidade': 2, 'preco': 632.55}]}, {'_id': '42', 'cliente': {'id': 42, 'nome': 'David Rocha'}, 'data_pedido': '2024/10/10', 'itens': [{'produto': 'Teclado', 'quantidade': 4, 'preco': 248.68}]}, {'_id': '43', 'cliente': {'id': 43, 'nome': 'Caitlin Brooks'}, 'data_pedido': '2024/03/04', 'itens': [{'produto': 'Teclado', 'quantidade': 3, 'preco': 1682.33}]}, {'_id': '44', 'cliente': {'id': 44, 'nome': 'Jamie Olson'}, 'data_pedido': '2024/12/01', 'itens': [{'produto': 'Mouse', 'quantidade': 3, 'preco': 788.3}]}, {'_id': '45', 'cliente': {'id': 45, 'nome': 'Jasmine Li'}, 'data_pedido': '2024/04/22', 'itens': [{'produto': 'Monitor', 'quantidade': 4, 'preco': 2834.79}]}, {'_id': '46', 'cliente': {'id': 46, 'nome': 'Kayla Shepard'}, 'data_pedido': '2024/04/27', 'itens': [{'produto': 'Teclado', 'quantidade': 4, 'preco': 1433.83}]}, {'_id': '47', 'cliente': {'id': 47, 'nome': 'Jason Mccormick'}, 'data_pedido': '2024/10/07', 'itens': [{'produto': 'Mouse', 'quantidade': 2, 'preco': 1645.26}]}, {'_id': '48', 'cliente': {'id': 48, 'nome': 'Christopher Brown'}, 'data_pedido': '2024/12/30', 'itens': [{'produto': 'Mouse', 'quantidade': 3, 'preco': 4393.19}]}, {'_id': '49', 'cliente': {'id': 49, 'nome': 'Christopher Hale'}, 'data_pedido': '2024/11/24', 'itens': [{'produto': 'Mouse', 'quantidade': 4, 'preco': 3997.55}]}, {'_id': '50', 'cliente': {'id': 50, 'nome': 'Gabrielle Soto'}, 'data_pedido': '2024/04/29', 'itens': [{'produto': 'Notebook', 'quantidade': 2, 'preco': 1470.6}]}, {'_id': '51', 'cliente': {'id': 51, 'nome': 'Natasha Conrad'}, 'data_pedido': '2024/05/02', 'itens': [{'produto': 'Teclado', 'quantidade': 3, 'preco': 2119.96}]}, {'_id': '52', 'cliente': {'id': 52, 'nome': 'Jeffrey Gibson'}, 'data_pedido': '2024/03/02', 'itens': [{'produto': 'Teclado', 'quantidade': 2, 'preco': 851.41}]}, {'_id': '53', 'cliente': {'id': 53, 'nome': 'Angela Anderson'}, 'data_pedido': '2024/04/18', 'itens': [{'produto': 'Impressora', 'quantidade': 3, 'preco': 2956.38}]}, {'_id': '54', 'cliente': {'id': 54, 'nome': 'Mr. Austin Young DDS'}, 'data_pedido': '2024/03/23', 'itens': [{'produto': 'Mouse', 'quantidade': 3, 'preco': 3576.62}]}, {'_id': '55', 'cliente': {'id': 55, 'nome': 'Darren Harris'}, 'data_pedido': '2024/04/01', 'itens': [{'produto': 'Impressora', 'quantidade': 1, 'preco': 212.44}]}, {'_id': '56', 'cliente': {'id': 56, 'nome': 'David Gutierrez'}, 'data_pedido': '2024/06/02', 'itens': [{'produto': 'Impressora', 'quantidade': 3, 'preco': 2861.13}]}, {'_id': '57', 'cliente': {'id': 57, 'nome': 'Stacy Allen'}, 'data_pedido': '2024/03/31', 'itens': [{'produto': 'Notebook', 'quantidade': 4, 'preco': 3441.05}]}, {'_id': '58', 'cliente': {'id': 58, 'nome': 'Michael Hernandez'}, 'data_pedido': '2024/12/24', 'itens': [{'produto': 'Monitor', 'quantidade': 5, 'preco': 453.72}]}, {'_id': '59', 'cliente': {'id': 59, 'nome': 'Samuel Murphy'}, 'data_pedido': '2024/12/09', 'itens': [{'produto': 'Notebook', 'quantidade': 1, 'preco': 4050.55}]}, {'_id': '60', 'cliente': {'id': 60, 'nome': 'Timothy Calderon'}, 'data_pedido': '2024/04/27', 'itens': [{'produto': 'Impressora', 'quantidade': 4, 'preco': 3540.1}]}, {'_id': '61', 'cliente': {'id': 61, 'nome': 'Crystal Hernandez'}, 'data_pedido': '2024/12/01', 'itens': [{'produto': 'Mouse', 'quantidade': 5, 'preco': 3497.14}]}, {'_id': '62', 'cliente': {'id': 62, 'nome': 'Dr. David Henry'}, 'data_pedido': '2024/04/04', 'itens': [{'produto': 'Mouse', 'quantidade': 5, 'preco': 295.52}]}, {'_id': '63', 'cliente': {'id': 63, 'nome': 'Benjamin Mccoy'}, 'data_pedido': '2024/07/21', 'itens': [{'produto': 'Mouse', 'quantidade': 5, 'preco': 2729.36}]}, {'_id': '64', 'cliente': {'id': 64, 'nome': 'Javier Williams'}, 'data_pedido': '2024/09/26', 'itens': [{'produto': 'Mouse', 'quantidade': 3, 'preco': 1720.78}]}, {'_id': '65', 'cliente': {'id': 65, 'nome': 'Matthew Kim'}, 'data_pedido': '2025/02/13', 'itens': [{'produto': 'Teclado', 'quantidade': 3, 'preco': 921.56}]}, {'_id': '66', 'cliente': {'id': 66, 'nome': 'Julia Smith'}, 'data_pedido': '2024/12/24', 'itens': [{'produto': 'Teclado', 'quantidade': 3, 'preco': 3091.96}]}, {'_id': '67', 'cliente': {'id': 67, 'nome': 'Rickey Liu'}, 'data_pedido': '2024/07/25', 'itens': [{'produto': 'Impressora', 'quantidade': 5, 'preco': 2797.21}]}, {'_id': '68', 'cliente': {'id': 68, 'nome': 'Amber Huff'}, 'data_pedido': '2025/01/03', 'itens': [{'produto': 'Teclado', 'quantidade': 1, 'preco': 1940.21}]}, {'_id': '69', 'cliente': {'id': 69, 'nome': 'Stephanie Taylor'}, 'data_pedido': '2024/03/01', 'itens': [{'produto': 'Monitor', 'quantidade': 2, 'preco': 125.3}]}, {'_id': '70', 'cliente': {'id': 70, 'nome': 'Sara Spears'}, 'data_pedido': '2024/07/17', 'itens': [{'produto': 'Notebook', 'quantidade': 1, 'preco': 157.88}]}, {'_id': '71', 'cliente': {'id': 71, 'nome': 'Elizabeth Potter'}, 'data_pedido': '2024/12/29', 'itens': [{'produto': 'Impressora', 'quantidade': 2, 'preco': 641.76}]}, {'_id': '72', 'cliente': {'id': 72, 'nome': 'Rebecca Barber'}, 'data_pedido': '2024/04/04', 'itens': [{'produto': 'Teclado', 'quantidade': 1, 'preco': 2637.79}]}, {'_id': '73', 'cliente': {'id': 73, 'nome': 'Ronnie Lewis'}, 'data_pedido': '2024/04/30', 'itens': [{'produto': 'Teclado', 'quantidade': 4, 'preco': 3916.8}]}, {'_id': '74', 'cliente': {'id': 74, 'nome': 'David Leach'}, 'data_pedido': '2024/05/08', 'itens': [{'produto': 'Monitor', 'quantidade': 4, 'preco': 195.55}]}, {'_id': '75', 'cliente': {'id': 75, 'nome': 'Kevin Thomas'}, 'data_pedido': '2025/01/22', 'itens': [{'produto': 'Impressora', 'quantidade': 2, 'preco': 1747.41}]}, {'_id': '76', 'cliente': {'id': 76, 'nome': 'Charles Cook'}, 'data_pedido': '2024/08/04', 'itens': [{'produto': 'Monitor', 'quantidade': 1, 'preco': 1930.91}]}, {'_id': '77', 'cliente': {'id': 77, 'nome': 'Alicia Aguilar'}, 'data_pedido': '2024/03/26', 'itens': [{'produto': 'Teclado', 'quantidade': 1, 'preco': 2376.35}]}, {'_id': '78', 'cliente': {'id': 78, 'nome': 'Jonathan Aguilar'}, 'data_pedido': '2025/01/14', 'itens': [{'produto': 'Impressora', 'quantidade': 1, 'preco': 4828.42}]}, {'_id': '79', 'cliente': {'id': 79, 'nome': 'Bobby Harrison'}, 'data_pedido': '2025/01/24', 'itens': [{'produto': 'Notebook', 'quantidade': 1, 'preco': 958.14}]}, {'_id': '80', 'cliente': {'id': 80, 'nome': 'Carlos Waters'}, 'data_pedido': '2024/07/21', 'itens': [{'produto': 'Impressora', 'quantidade': 4, 'preco': 2851.4}]}, {'_id': '81', 'cliente': {'id': 81, 'nome': 'Andrew Villa'}, 'data_pedido': '2024/02/29', 'itens': [{'produto': 'Teclado', 'quantidade': 5, 'preco': 3398.87}]}, {'_id': '82', 'cliente': {'id': 82, 'nome': 'Charles Wood'}, 'data_pedido': '2024/07/02', 'itens': [{'produto': 'Mouse', 'quantidade': 3, 'preco': 4854.81}]}, {'_id': '83', 'cliente': {'id': 83, 'nome': 'Jasmine Russell'}, 'data_pedido': '2024/12/11', 'itens': [{'produto': 'Monitor', 'quantidade': 5, 'preco': 3293.85}]}, {'_id': '84', 'cliente': {'id': 84, 'nome': 'Kimberly Schmitt'}, 'data_pedido': '2024/08/29', 'itens': [{'produto': 'Mouse', 'quantidade': 3, 'preco': 1845.67}]}, {'_id': '85', 'cliente': {'id': 85, 'nome': 'Brendan Garcia'}, 'data_pedido': '2025/02/10', 'itens': [{'produto': 'Teclado', 'quantidade': 1, 'preco': 4310.89}]}, {'_id': '86', 'cliente': {'id': 86, 'nome': 'Lindsey Anderson'}, 'data_pedido': '2024/07/10', 'itens': [{'produto': 'Monitor', 'quantidade': 5, 'preco': 874.27}]}, {'_id': '87', 'cliente': {'id': 87, 'nome': 'Raymond Price'}, 'data_pedido': '2024/09/28', 'itens': [{'produto': 'Teclado', 'quantidade': 1, 'preco': 2511.03}]}, {'_id': '88', 'cliente': {'id': 88, 'nome': 'Caroline Hodge'}, 'data_pedido': '2024/12/24', 'itens': [{'produto': 'Monitor', 'quantidade': 2, 'preco': 3823.26}]}, {'_id': '89', 'cliente': {'id': 89, 'nome': 'William Blankenship'}, 'data_pedido': '2024/08/14', 'itens': [{'produto': 'Impressora', 'quantidade': 4, 'preco': 3292.77}]}, {'_id': '90', 'cliente': {'id': 90, 'nome': 'Jessica Rivera'}, 'data_pedido': '2024/11/25', 'itens': [{'produto': 'Monitor', 'quantidade': 4, 'preco': 2807.7}]}, {'_id': '91', 'cliente': {'id': 91, 'nome': 'Laura Baker'}, 'data_pedido': '2024/08/10', 'itens': [{'produto': 'Teclado', 'quantidade': 3, 'preco': 4844.83}]}, {'_id': '92', 'cliente': {'id': 92, 'nome': 'Dr. Nicholas Freeman'}, 'data_pedido': '2024/03/19', 'itens': [{'produto': 'Monitor', 'quantidade': 4, 'preco': 1947.56}]}, {'_id': '93', 'cliente': {'id': 93, 'nome': 'David Butler'}, 'data_pedido': '2024/10/20', 'itens': [{'produto': 'Impressora', 'quantidade': 3, 'preco': 3357.48}]}, {'_id': '94', 'cliente': {'id': 94, 'nome': 'Ralph Murphy'}, 'data_pedido': '2024/08/18', 'itens': [{'produto': 'Mouse', 'quantidade': 3, 'preco': 114.79}]}, {'_id': '95', 'cliente': {'id': 95, 'nome': 'Alexandria Bradford'}, 'data_pedido': '2024/09/28', 'itens': [{'produto': 'Impressora', 'quantidade': 3, 'preco': 1362.57}]}, {'_id': '96', 'cliente': {'id': 96, 'nome': 'Amy Schroeder'}, 'data_pedido': '2025/01/01', 'itens': [{'produto': 'Mouse', 'quantidade': 5, 'preco': 3088.51}]}, {'_id': '97', 'cliente': {'id': 97, 'nome': 'Natalie Fuller'}, 'data_pedido': '2024/04/29', 'itens': [{'produto': 'Teclado', 'quantidade': 2, 'preco': 4253.08}]}, {'_id': '98', 'cliente': {'id': 98, 'nome': 'Brittany Bennett'}, 'data_pedido': '2024/02/27', 'itens': [{'produto': 'Notebook', 'quantidade': 1, 'preco': 1592.82}]}, {'_id': '99', 'cliente': {'id': 99, 'nome': 'Kenneth Baker'}, 'data_pedido': '2024/03/09', 'itens': [{'produto': 'Teclado', 'quantidade': 3, 'preco': 1362.92}]}, {'_id': '100', 'cliente': {'id': 100, 'nome': 'Daniel Browning'}, 'data_pedido': '2024/07/23', 'itens': [{'produto': 'Monitor', 'quantidade': 3, 'preco': 2381.73}]}]

In [115]:
# Conexão com o MongoDB
# variável com o caminho para o Mongo
# Variável para criar o Banco de dados e outra para criar a collection.
# OBS: diferente do SQL eu não criei o BD e a Collection dentro do mongo, o código por si só já faz essa criação!

'''
client_mongoDB = MongoClient('mongodb://127.0.0.1:27017/')
db = client_mongoDB['DB_Teste']
collection = db['Collection_Teste']
'''

"\nclient_mongoDB = MongoClient('mongodb://127.0.0.1:27017/')\ndb = client_mongoDB['DB_Teste']\ncollection = db['Collection_Teste']\n"

In [97]:
# loop for, para inserir os dados no Mongo

'''
for venda in resultado:
    collection.insert_one(venda)
'''

'\nfor venda in resultado:\n    collection.insert_one(venda)\n'

In [ ]:
# Fim da parte de Python